@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

body {
  font-family: "Slabo 27px", serif;
  background-attachment: fixed;
}

.svg-state > svg {
  display: block;
}

table {
  overflow: auto;
}

table th {
  padding: 10px 0;
  font-size: 1.3rem;
}

table td {
  padding-right: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
}
